@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Montserrat:400,700");


@import url("components/banner.css")

body {
	background: rgb(240,240,240);
	color: rgb(20,20,20);
	font-family: 'open sans', sans-serif;
	margin: 0
}


h1 {
	font-family: 'open sans', sans-serif;
	font-size: 70px;
	color: rgb(236,236,236);
	font-weight: bold;
}

h2 {
	font-size: 18px
}

a {
	text-decoration: none;
	color: rgb(240,240,240);
	font-style: normal;
}

a:hover{
	text-decoration: none;
	color: blue
}

/* custom design */
#banner{
	background-image: url(images/dragon2.png) ;
	background-size: cover;
	padding: 150px 0;
	text-align: center;
	color: white;
}

#banner h1{
	color: white;
	font-size: 30px
	font-weight: lighter;
	opacity: 0.6
}

.card {
	padding: 50px;
	text-align: center
}

#footer{
	background: rgba(68,68,68,0.9);
	font-size: 20px;
	color: rgba(240,240,240,0.6);
	padding: 40px 170px;
}

#footer a {
	font-size: 20px;
  color: rgba(240,240,240,0.6);
}

#footer a:hover{
	color: white;
}
